@media (max-width: 460px) {
  .shape-title {
    top: 10%;
    right: 1%;
  }
  .share-title {
    margin-right: 10px;
  }
  .footer-title {
    font-size: large;
    margin-bottom: 50px;
  }
  .footer-middle {
    flex-direction: column;
  }
  .footer-middle-col-1 {
    margin-bottom: 20px;
    font-size: 14px;
    padding: 0 10px;
  }
  .footer-bottom {
    margin-top: 75px;
  }
  .share-card-content-1,
  .share-card-content-2 {
    margin-bottom: 100px;
  }
  .footer-middle-col-2 {
    font-size: 14px ;
    padding: 0 10px;
  }
  .footer-bottom span {
    font-size: 14px ;
  }
  .cooperate-content-text {
    padding: 0 20px;
  }
  .card-shape {
    padding: 30px;
  }
  .header-title {
    font-size: 10px;
  }
}
