* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* header */

.header {
  width: 100%;
  height: 500px;

  position: relative;
}
.background-image {
  width: 100%;
  height: 500px;

  position: absolute;
  top: 0px;
}
.background-image img {
  width: 100%;
  height: 100%;
}
.background-circle {
  width: 100%;
  height: 500px;

  position: relative;
  top: 0px;
}
.circle-1 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  top: -50px;
  left: 150px;
  background-color: rgba(255, 255, 255, 0.5);
}
.header-content {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0px;
  background-image: linear-gradient(
    45deg,
    rgba(167, 226, 161, 0.5),
    rgba(46, 230, 46, 0.733)
  );
}
.nav {
  width: 100%;
  height: 100px;
  display: flex;
  /* border: 1px solid; */
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  margin-right: 10px;
}
.logo-tittle h3 {
  color: white;
}
.logo-tittle p {
  color: #f5f3f3;
}

.menu {
  display: flex;
}
.item {
  font-size: 14px;
  margin-right: 20px;
  color: white;
  font-weight: lighter;
}
.serach i {
  color: white;
}
.header-title {
  width: 100%;
  text-align: center;
  /* border: 1px solid; */
  margin-top: 100px;
  position: absolute;
  top: 200px;
  color: white;
}
.content h1 {
  margin-bottom: 10px;
}
/* .content p {
} */

/* main */
.card {
  width: 100%;
  height: 500px;
  border: 1px solid red;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-item-button {
  width: 300px;
  height: 350px;
  border: 1px solid white;
  border-radius: 0 40px 0 40px;
  margin: 0 15px;
  -webkit-box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.18);
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-item-button span {
  font-size: 50px;
  color: rgb(62, 223, 62);
  font-weight: 600;
}
.card-item-button h3 {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 600;
}
.card-item-top {
  width: 300px;
  height: 350px;
  border: 1px solid white;
  border-radius: 0 40px 0 40px;
  margin: 0 15px;
  -webkit-box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.18);
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-item-top span {
  font-size: 50px;
  color: rgb(62, 223, 62);
  font-weight: 600;
}
.card-item-top h3 {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 600;
}
.card-icon {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 57px 0 0 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.29);
}
.card-icon i {
  font-size: 35px;
}

.news-event {
  width: 100%;
  height: 100px;
  border: 1px solid blue;
  text-align: right;
  margin: 5px;
}
.news-event h2 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  margin-right: 200px;
}
.news-event p {
  margin-right: 200px;
  font-size: 20px;
  font-weight: lighter;
}

.news-event-content {
  width: 100%;
  height: 500px;
  border: 1px solid rgb(62, 223, 62);
  display: flex;
  margin: 5px;
  align-items: center;
}
.news-event-content img {
  border-radius: 10px 10px 10px 50px;
  flex: 1;
  border: 1px solid #ccc;
  margin: 0 0 0 200px;
  height: 80%;
}
.text-content {
  border-radius: 10px 50px 10px 10px;
  flex: 1;
  border: 1px solid #ccc;
  margin: 0 200px 0 0;
  height: 80%;
}
.text-content h3 {
  margin: 40px 40px 20px 20px;
  font-size: 25px;
}
.text-content p {
  font-weight: lighter;
  font-size: 20px;
  margin: 40px 40px 20px 20px;
}
.time {
  display: flex;
  align-items: center;
}
.time i {
  font-size: large;
  margin-right: 5px;
  margin: 0 10px 0 20px;
}
.time span {
  font-size: large;
}
.time h3 {
  width: 100%;
  text-align: right;
  font-size: 18px;
  color: rgb(230, 17, 42);
  font-weight: 800;
}
.circle {
  width: 100%;
  border-radius: 50%;
  border-color: 1px solid white;
  width: 40px;
  height: 40px;
  background-color: green;
  text-align: right;
  transform: translateX(-185px);
  -webkit-box-shadow: -1px 4px 8px -4px #000000;
  box-shadow: -1px 4px 8px -4px #000000;
}
.arrow {
  width: 100%;
  text-align: right;
  margin-right: 20px;
}
.arrow i {
  color: green;
  font-size: 20px;
}
