* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* header */

.header {
  width: 100%;
  height: 500px;

  position: relative;
}
.background-image {
  width: 100%;
  height: 500px;

  position: absolute;
  top: 0px;
}
.background-image img {
  width: 100%;
  height: 100%;
}
.background-circle {
  width: 100%;
  height: 500px;
  position: relative;
  top: 0px;
}
.circle-1 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -15%;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.5);
}
.circle-2 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 15%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}
.circle-3 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 10%;
  right: 8%;
  background-color: rgba(255, 255, 255, 0.5);
}
.circle-4 {
  border-radius: 50%;
  top: 40%;
  left: 10%;
  width: 50px;
  height: 50px;
  background-color: #78d2a3;
  position: absolute;
  -webkit-box-shadow: -1px 4px 8px -4px #000000;
  box-shadow: -1px 4px 8px -4px #000000;
}
.circle-5 {
  border-radius: 50%;
  bottom: 10%;
  left: 50%;
  width: 50px;
  height: 50px;
  background-color: #78d2a3;
  position: absolute;
  -webkit-box-shadow: -1px 4px 8px -4px #000000;
  box-shadow: -1px 4px 8px -4px #000000;
}
.circle-6 {
  border-radius: 50%;
  bottom: 10%;
  right: 3%;
  width: 50px;
  height: 50px;
  background-color: #78d2a3;
  position: absolute;
  -webkit-box-shadow: -1px 4px 8px -4px #000000;
  box-shadow: -1px 4px 8px -4px #000000;
}
.header-content {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0px;
  background-image: linear-gradient(
    45deg,
    rgba(137, 213, 172, 0.5),
    rgba(25, 170, 87, 0.5)
  );
}
.nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  margin-right: 10px;
}
.logo-tittle h3 {
  color: #ffffff;
}
.logo-tittle p {
  color: #ffffff;
}

.menu {
  display: flex;
}
.item {
  font-size: 14px;
  margin-right: 20px;
  color: #ffffff;
  font-weight: lighter;
}
.serach i {
  color: #ffffff;
}
.header-title {
  width: 100%;
  text-align: center;
  margin-top: 2%;
  position: absolute;
  top: 200px;
  color: #ffffff;
}
.header-title h1 {
  margin-bottom: 10px;
  font-size: -webkit-xxx-large;
  font-size: 3em;
}
.header-title p {
  font-size: 1.5em;
  font-weight: lighter;
}

/* main */
.card {
  width: 100%;
  height: 500px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-item-button {
  width: 300px;
  height: 350px;
  border: 1px solid white;
  border-radius: 0 40px 0 40px;
  margin: 0 15px;
  -webkit-box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.18);
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-item-button span {
  font-size: 50px;
  color: #1aaf5d;
  font-weight: 600;
}
.card-item-button h3 {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 600;
}
.card-item-top {
  width: 300px;
  height: 350px;
  border: 1px solid white;
  border-radius: 0 40px 0 40px;
  margin: 0 15px;
  -webkit-box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.18);
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-item-top span {
  font-size: 50px;
  color: #1aaf5d;
  font-weight: 600;
}
.card-item-top h3 {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 600;
}
.card-icon-1 {
  border-radius: 50%;
  color: #d16d6a;
  font-size: 35px;
  width: 80px;
  height: 80px;
  margin: 57px 0 0 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.29);
}
.card-icon-2 {
  border-radius: 50%;
  color: #ecb476;
  font-size: 35px;
  width: 80px;
  height: 80px;
  margin: 57px 0 0 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.29);
}
.card-icon-3 {
  border-radius: 50%;
  color: #f9d978;
  font-size: 35px;
  width: 80px;
  height: 80px;
  margin: 57px 0 0 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.29);
}
.card-icon-4 {
  border-radius: 50%;
  color: #d16d6a;
  font-size: 35px;
  width: 80px;
  height: 80px;
  margin: 57px 0 0 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.29);
}

.news-event {
  width: 100%;
  height: 100px;
  text-align: right;
  margin: 5px;
}
.news-event h2 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  margin-right: 200px;
}
.news-event p {
  margin-right: 200px;
  font-size: 20px;
  font-weight: lighter;
}

.news-event-content {
  width: 100%;
  height: 500px;
  display: flex;
  margin: 5px;
  align-items: center;
  position: relative;
}
.news-event-content img {
  border-radius: 10px 10px 10px 50px;
  flex: 1;
  border: 1px solid #ccc;
  margin: 0 0 0 200px;
  height: 80%;
}
.text-content {
  border-radius: 10px 50px 10px 10px;
  flex: 1;
  border: 1px solid #ccc;
  margin: 0 200px 0 0;
  height: 80%;
}
.text-content h3 {
  margin: 40px 40px 20px 20px;
  font-size: 25px;
}
.text-content p {
  font-weight: lighter;
  font-size: 20px;
  margin: 30px 30px 20px 20px;
  line-height: 1.5;
}
.time {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.time i {
  font-size: large;
  margin-right: 5px;
  margin: 0 10px 0 20px;
}
.time span {
  font-size: large;
}
.time h4 {
  width: 100%;
  text-align: right;
  font-size: 18px;
  color: rgb(230, 17, 42);
  font-weight: 800;
  margin-right: 15px;
}
.circle {
  border-radius: 50%;
  border-color: 1px solid white;
  width: 40px;
  height: 40px;
  background-color: #059f4a;
  -webkit-box-shadow: -1px 4px 8px -4px #000000;
  box-shadow: -1px 4px 8px -4px #000000;
  position: absolute;
  right: 130px;
}
.arrow {
  right: 200px;
  bottom: 20px;
  position: absolute;
}
.arrow i {
  color: #059f4a;
  font-size: 20px;
}
.train {
  width: 100%;
  height: 500px;
  border: 1px solid;
  position: relative;
  margin-bottom: 30px;
}
.train-title {
  width: 100%;
  height: 100px;
  margin-bottom: 35px;
}
.train-title h2 {
  margin: 20px 0 20px 0;
  font-size: 30px;
  font-weight: bold;
  margin-left: 200px;
}
.train-circle {
  border-radius: 50%;
  border-color: 1px solid white;
  width: 40px;
  height: 40px;
  background-color: #059f4a;
  -webkit-box-shadow: -1px 4px 8px -4px #000000;
  box-shadow: -1px 4px 8px -4px #000000;
  position: absolute;
  top: 0px;
  right: 45%;
}
.train-title p {
  margin-left: 200px;
  font-size: 20px;
  font-weight: lighter;
}

.train-content {
  display: flex;
  position: relative;
}
.train-content-text {
  flex: 1;
}
.train-content-text h3 {
  margin-left: 200px;
  font-size: 25px;
  margin-bottom: 20px;
}
.train-content-text p {
  margin-left: 200px;
  font-weight: lighter;
  font-size: 20px;
  line-height: 1.5;
  margin-right: 10px;
}

.train-content-image {
  height: 100%;
  flex: 1;
  margin-right: 200px;
}
.train-content-image img {
  width: 100%;
  height: 100%;
  margin-left: 10px;
}

.train-content-circle {
  border-radius: 50%;
  border-color: 1px solid white;
  width: 40px;
  height: 40px;
  background-color: #059f4a;
  -webkit-box-shadow: -1px 4px 8px -4px #000000;
  box-shadow: -1px 4px 8px -4px #000000;
  position: absolute;
  top: 15%;
  left: 5%;
}

.train-content-arrow {
  position: absolute;
  left: 40%;
  bottom: 10%;
}
.train-content-arrow i {
  color: #059f4a;
  font-size: 20px;
}

.custom-shape-divider-top-1700024703 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.shape {
  color: white;
  width: 100%;
  height: 550px;
  background: linear-gradient(
    0deg,
    rgb(120 233 157) 0%,
    rgb(15, 150, 76) 100%,
    rgba(221, 0, 0, 1) 100%
  );
  position: relative;
}
.custom-shape-divider-top-1700024703 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 210px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1700024703 .shape-fill {
  fill: #ffffff;
}
